.app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.question {
  background-color: #a42c2c;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  .controls {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 1rem);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .button {
    display: none;
    cursor: pointer;
    align-self: center;
    padding: 0.5rem 1rem;

    font-family: 'Roboto Slab', serif;
    font-size: 0.875rem;
    color: #ffe68c;
    background-color: transparent;
    border: 1px solid #ffe68c;
    outline: none;

    &:hover {
      color: white;
      border: 1px solid white;
    }

    &:active {
      opacity: 0.8;
      border-color: white;
      color: white;
    }
  }

  .tip {
    font-family: 'Roboto Slab', serif;
    font-size: 0.875rem;
    color: #ffe68c;
    text-align: center;

    code {
      color: #a42c2c;
      background-color: #ffe68c;
      padding: 0 0.125rem;
      border-radius: 0.125rem;
    }
  }
}

.answer {
  background-color: #ffe68c;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    resize: none;
    text-align: center;
    color: #ff4545;
  }
}

@media only screen and (max-width: 600px) {
  .question {
    .button {
      display: block;
    }

    .tip {
      display: none;
    }
  }
}
