* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.question-area {
    background-color: #A42C2C;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
}

.question-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.tip {
    font-family: 'Roboto Slab', serif;
    font-size: 0.875rem;
    color: #FFE68C;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 1rem);
    width: 100%;
}

.answer-area {
    background-color: #FFE68C;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    resize: none;
    text-align: center;
    color: #FF4545;
}

.button {
    font-family: 'Roboto Slab', serif;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #FFE68C;
    border: 1px solid #FFE68C;
    outline: none;
    cursor: pointer;
    align-self: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 1rem);
}

.button:hover {
    color: white;
    border: 1px solid white;
}

.button:active {
    opacity: 0.8;
    border-color: #FFE68C;
    color: #FFE68C;
}
